<style>

  .body{
    background-color: aquamarine;
}
</style>

<!doctype html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <title>Practica030</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>

    <nav>
      <a class="btn btn-outline-warning" routerLink="/" >Home</a>
      <a class="btn btn-outline-warning" routerLink="/infomacion">Información</a>
      <a class="btn btn-outline-warning" routerLink="/registro">Registro de Facturas</a>
      <a class="btn btn-outline-warning" routerLink="/resporte">Reporte</a>
      <a class="btn btn-outline-warning" routerLink="/gastos">Gasto</a>
      </nav>
   </body>

</html>



 


  
