
<div class="container">
    <form>
        <div class="form-group">
            <h1 class="text-center text-primary">CALCULADORA SRI</h1>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/"> Home</a></li>
                        <li><a href="/"> Editar</a></li>
                        <li><a href="/"> Consultar</a></li>
                    </ul>
                </div>
            </nav>

            <img src="../assets/descargar.png" class="img-fluid" alt="10">
            <p> Esta APP le permite que las personas calcular el valor que deben pagar por Impuesto a la Renta</p>
            <app-menu></app-menu>
          
            <router-outlet></router-outlet>
        </div>
    </form>
</div>